<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <meta property="og:title" content="iFriendsPet"/>
    <meta property="og:site_name" content="iFriendsPet"/>
    <meta property="og:url" content="https://dev.ifriendspet.com/public/images/logo1.png"/>
    <meta property="og:description" content="iFriendsPet"/>
    <meta property="og:image" content="https://dev.ifriendspet.com/public/images/logo1.png"/>
    <meta property="fb:app_id" content="203562140050845">


  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
