<!DOCTYPE html >
<html>
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>iFriendsPet</title>

<meta property="og:title" content="iFriendsPet"/>
<meta property="og:site_name" content="iFriendsPet"/>
<meta property="og:url" content="<%= photo %>"/>
<meta property="og:description" content="iFriendsPet"/>
<meta property="og:image" content="<%= photo %>"/>
<meta property="fb:app_id" content="203562140050845">

<link rel="stylesheet" href="../public/stylesheets/shareDiary.css">
<script src="../public/javascripts/executeAppOrGoStore.js"></script>

</head>
<body>
<div class="container">
    <div class="main">        
        <div class="capture">
            <div class="responsive">
                <img src="<%= photo %>" class="captureImg" />
            </div>            
        </div>
        <div class="cover">
            <img class="coverImg" src="<%= backGround %>" />
        </div>
<% if( !preview ){ %>
        <div class="footerCon">
            <div class="footer">
                <img class="logo" src="/public/images/logo1.png" />
                <div class="btnCon">
                    <a href="http://www.ifriendspet.com" target="_blank" class="btn0 btn">홈페이지 바로가기</a>
                    <a href="javascript:void(0)" onclick="executeAppOrGoStore();" class="btn1 btn" >앱 구경하기</a>
                </div>
            </div>
        </div>
<% } %>
    </div>
</div>
</body>
</html>



