<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>iFriendsPet</title>

    <meta property="og:title" content="iFriendsPet"/>
    <meta property="og:site_name" content="iFriendsPet"/>
    <meta property="og:url" content="<%= photo %>"/>
    <meta property="og:description" content="iFriendsPet"/>
    <meta property="og:image" content="<%= photo %>"/>
    <meta property="fb:app_id" content="203562140050845">

<link rel="stylesheet" href="../public/stylesheets/sharePhoto.css">

</head>
<body>
<div class="container">
    <div class="main">
        <div class="capture">
            <div class="responsive">
                <img src="/photo/<%=photo%>" class="captureImg" />
            </div>
        </div>
    </div>
</div>
</body>
</html>



